.food-display{
    margin:30px 0px;
    /* padding: 15px; */
}
.food-display h2{
    font-size:max(2vw 24px);
    font-weight: 600;
    font-family: outfit;
    margin-left: 20px;
}
.food-display-list{
    display: grid; 
    grid-template-columns: repeat(auto-fill,minmax(240px,1fr));
   
    
}